---
name: Metrics

on:
  schedule: [{cron: "0 * * * *"}]
  workflow_dispatch:
  push:

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Update badges
        uses: docker://ghcr.io/chipwolf/badgesort:latest
        with:
          format: markdown
          id: default
          output: README.md
          slugs: |
            amazonaws
            discord
            git
            googlecloud
            kubernetes
            linkedin?url=https://linkedin.com/in/chipwolf
            linux
            microsoftazure
            opencontainersinitiative
            python
            twilio
            ublockorigin
            wikipedia?url=https://en.wikipedia.org/en/User:ChipWolf
          sort: step_invert
          style: for-the-badge

      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: ChipWolf
          template: classic
          base: header
          config_timezone: Europe/London
          plugin_languages: yes
          plugin_languages_analysis_timeout: 15
          plugin_languages_categories: markup, programming
          plugin_languages_colors: github
          plugin_languages_ignored: php, html, css
          plugin_languages_limit: 15
          plugin_languages_recent_categories: markup, programming
          plugin_languages_recent_days: 14
          plugin_languages_recent_load: 300
          plugin_languages_sections: most-used
          plugin_languages_threshold: 0%
          plugin_notable: yes
          plugin_notable_filter: commits.user%:>0
          plugin_notable_from: all
          plugin_notable_indepth: yes
          plugin_notable_types: commit
          plugin_people: yes
          plugin_people_identicons_hide: yes
          plugin_people_limit: 1000
          plugin_people_shuffle: yes
          plugin_people_size: 32
          plugin_people_types: followers
          repositories_forks: yes
